//variables for site-wide themes and styling
$font-stack:  fira-sans-2, sans-serif
$primary-color: white
$base-color: black
$heading-size: 7rem
$sub-heading-size: 2rem
$link-size: 1.5rem
$full-width: 100vw
$half-width: 50vw
$third-width: 33.33vw
$quarter-width: 25vw
$full-height: 100vh
$half-height: 50vh
$third-height: 33.33vh
$quarter-height: 25vh
$linktransition: all .5s cubic-bezier(1,.25,0,.75) 0s
//image links
$header-image: url("/../app/images/topimage.png")
$firstTransition-image: url("/../app/images/topimage.png")
$photography-image: url("/../app/images/photography.png")
$design-image: url("/../app/images/design.JPG")
$webDesign-image: url("/../app/images/web.png")



//set all defaults to normal font-weight
h1, h2, h3, h4, h5, h6
  font-weight: normal

body
  background-color: $base-color
  margin: 0
  color: $primary-color
  font-family: fira-sans-2, sans-serif

a
  text-decoration: none
  color: $primary-color

.wrapper
  height: $full-height
  overflow-x: hidden
  overflow-y: auto
  perspective: 2px

#logo
  display: flex
  height: 40vh
  width: $full-width

#navbar
  position: fixed
  z-index: 100
  display: none
  top: 0vw
  float: right
  padding-right: 2vw
  width: $full-width
  background: rgb(255,255,255)
  background: linear-gradient(90deg, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 70%)

#menu
  display: flex
  margin-top: 0
  list-style-type: none
  text-decoration: none
  line-height: 10vw

#menulogo
  filter: invert(100%)
  height: 10vw
  padding: 1vw 45vw 0 1vw
  display: inline-block

.menuitems
  display: inline-block
  padding-right: 0
  padding-left: 2vw
  letter-spacing: .2vw
  font-size: $link-size
  vertical-align: middle

.fullScreen
  width: $full-width
  height: 100vh

.smallTransition
  min-height: $third-height
  width: $full-width
  text-align: center

#firstTransition
  background: $firstTransition-image 50% 0 repeat fixed
  min-height: $third-height
  position: relative
  background-size: cover
  img
    height: 2vw
    position: flex
    margin: 0 0 14vh

  article
    position: absolute
    text-align: center
    width: $full-width
    line-height: $third-height
  p
    margin: -4vh auto -7vh auto
    font-size: $sub-heading-size



#portfolio
  width: $full-width
  height: 120vw
  position: absolute
  h1
    font-family: $font-stack
    font-size: $heading-size
    padding-left: 5vw
    line-height: 1vw
  img
    padding-left: 5vw

.largeTransition
  width: 100vw
  height: 40vw

.sectionUnderline
  width: 20vw

#topimage
  height: 50vh
  width: 100vw
  background-image: $header-image
  background-size: cover
  display: flex
  align-items: center

#topGrid
  height: $half-height
  width: $full-width

.button
  width: 100%
  height: 100%
  backdrop-filter: blur(10px)
  -webkit-backdrop-filter: blur(20px)
  text-align: center
  margin: auto
  align-items: center
  line-height: relative
  a
    font-size: $sub-heading-size

#photography
  height: $half-height
  width: $third-width
  backdrop-filter: blur(2px)
  -webkit-backdrop-filter: blur(2px)
  filter: brightness(0.5)
  background-image: $photography-image
  background-size: cover
  display: flex
  align-items: center
  margin: auto
  i
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-image: $photography-image
    background-size: 43.3vw
    background-position: -9vw
    text-align: -webkit-center
    padding-top: 10vh
  a
    font-size: 3rem
    font-family: fira-sans-condensed, sans-serif
    font-weight: 400
    display: -webkit-box
    line-height: initial


#design
  height: $half-height
  width: $third-width
  backdrop-filter: blur(2px)
  -webkit-backdrop-filter: blur(2px)
  filter: brightness(0.5)
  background-image: $design-image
  background-size: cover
  display: flex
  align-items: center
  margin: auto
  i
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-image: $design-image
    background-size: 43.3vw
    background-position: -9vw
    text-align: -webkit-center
    padding-top: 10vh
  a
    font-size: 3rem
    font-family: fira-sans-condensed, sans-serif
    font-weight: 400
    display: -webkit-box
    line-height: initial


#web
  height: $half-height
  width: $third-width
  backdrop-filter: blur(2px)
  -webkit-backdrop-filter: blur(2px)
  filter: brightness(0.5)
  background-image: $webDesign-image
  background-size: cover
  display: flex
  align-items: center
  margin: auto
  i
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-image: $webDesign-image
    background-size: 43.3vw
    background-position: -9vw
    text-align: -webkit-center
    padding-top: 10vh
  a
    font-size: 3rem
    font-family: fira-sans-condensed, sans-serif
    font-weight: 400
    display: -webkit-box
    line-height: initial

.row
  display: flex
  flex-wrap: wrap
  padding: 0 0
  align-items: center

.column
  flex: 33.33%
  max-width: 33.33%
  padding: 0 0
  align: center

.column img
  margin-top: 0
  vertical-align: middle
  width: 100%
